<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.call"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.call.MainActivity"
            android:label="@string/app_name" 
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.call.LayoutMainActivity"
            android:label="@string/activity_name"/>    
            
        <activity
            android:name="layout.CallActivity"
            android:label="@string/activity_name"/>    
   
         <activity
            android:name="layout.RelativelayoutActivity"
            android:label="@string/activity_name"/>  
            
          <activity
            android:name="layout.TableLayoutActivity"
            android:label="@string/activity_name"/>
          
           <activity
            android:name="wiaget.TextViewActivity"
            android:label="@string/activity_name"/>  
            
            <activity
            android:name="com.example.call.LayoutsDemoActivity"
            android:label="@string/demo_text_them"/>
            
            <activity
            android:name="wiaget.ButtonActivity"
            android:label="@string/demo_text_them"/>
            
             <activity
            android:name="wiaget.ShowFromButtonActivity"
            android:label="通过button跳转来的Activity"/>
             
             <activity
            android:name="app.login.ui.WeiXinLogin"
            android:label="我信1.0"
            android:icon="@drawable/weixin_icon2"/>
             
         <activity
            android:name="event.ButtonOnClickEvent"
            android:label="鼠标点击事件的四种处理方式"/>
         <activity
            android:name="wiaget.ImageViewActivity"
            android:label="ImageView学习"/>
         
         <activity
            android:name="wiaget.TextViewApiStudyActivity"
            android:label="TextViewAPI中的属性学习"/>
         
         <activity
            android:name="wiaget.SpinnerActivity"
            android:label="Spinner学习"/>
         <activity
            android:name="wiaget.RadioButtonActivity"
            android:label="RadioButton学习"/>
         <activity
            android:name="wiaget.CheckBoxStudy"
            android:label="CheckBox学习"/>
         <activity
            android:name="wiaget.ToggleButtonSwitchActivity"
            android:label="ToggleButtonSwitch开关学习"/>
         <activity
            android:name="wiaget.LogCat"
            android:label="LogCat日志学习"/>
         
         <activity
            android:name="activity.StudyActivityLifeOne"
            android:label="Activity生命周期学习一"/>
         
          <activity
            android:name="activity.StudyActivityLifeTwo"
            android:label="Activity生命周期学习二"/>
          
          <activity
            android:name="event.LearnSaveStateActivity"
            android:label="SaveState状态保存"/>
          
           <activity
            android:name="event.LearnActivityLaunchMade"
            android:label="Activity的标准启动模式学习"/>
           
           <activity
            android:name="event.LaunchMadeSingTop"
            android:label="Activity的单顶启动模式学习"
            android:launchMode="singleTop"/>
           <!-- 设置启动模式为单顶模式  -->
 			
 			<activity
            android:name="event.SingleTaskActivity"
            android:label="Activity的单任务启动模式学习"/>
 			
 		<activity
            android:name="com.example.call.WiagetMainActivity"
            android:label="控件学习"/>
 		
 		<activity
            android:name="app.login.ui.LoginLogin"
            android:label="LoginLogin"/>
 		
 		<activity
 		    android:launchMode="singleInstance"
            android:name="event.LaunchMadeSingleInstance"
            android:label="Activity的单实例启动模式学习"/>
 		<!-- 单实例模式的Activitiy -->
 		
 		<activity
 		    android:launchMode="singleTask"
            android:name="senddatebetweenactivity.OneActivity"
            android:label="activity之间的参数传递One"/>
 		
 		<activity
            android:name="senddatebetweenactivity.TwoActivity"
            android:label="activity之间的参数传递Two"/>
 		
 		<activity
            android:name="intent.TestIntentOne"
            android:launchMode="singleTask"
            android:label="TestIntentOne"/>
 		
 		<activity
            android:name="intent.TestIntentTwo"
            android:label="TestIntentTwo">
            <intent-filter>
                <action android:name="IntentActivityOne"/>
                <category android:name="android.intent.category.DEFAULT"/>
                
            </intent-filter>
             <!-- 隐式启动中需要设置对应的属性 -->
        </activity>
 		
 		<activity
            android:name="adapter.ListArrayAdapter"
            android:label="ArrayAdapter学习"/>
 		
 		<activity
            android:name="adapter.AdapterSimpleAdapter"
            android:label="SimpleAdapter学习"/>
 		
 	</application>

</manifest>
